/* Configuración inicial de variables y elementos reutilizables en todas las páginas (body, header, footer etc)*/

/* Colores de la academia, colores principales de la página y fuente principal */

:root {
    --violeta: #5b21b6;
    --celeste: #0ea5e9;
    --naranja: #f97316;
    --verde: #16a34a;
    --texto-oscuro:#1f2937;
    --texto-claro: #ffffff;
    --color-fondo: #f9fafb;

    --fuente-principal: 'Segoe UI', Tahoma, Geneva;
}

/* reset para quitar variables por defecto de los navegadores */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box; /* importante para que el padding no sume al ancho total */
}

html, body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--texto-oscuro);
    line-height: 1.6;
    height: 100%;
    margin: 0;
}

.cuerpo-web {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

main {
    flex: 1 0 auto;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto; /* Para centrar el bloque horizontalmente y que no se amontone */
    padding: 0 20px;
}

/*  Estilos del header */

.encabezado-inicio {
    background-color: var(--violeta);
    color: var(--texto-claro);
    padding: 15px 0;
    position: relative; 
    width: 100%;
}

.encabezado-inicio a {
    text-decoration: none; /* para asegurar que los enlaces del header no se subrayen*/
}

.encabezado-inicio .contenedor {
    display: flex; /* Activar flexbox*/
    justify-content: space-between; /* Separar elementos del header a los extremos */
    align-items: center; /* Centrar verticalmente */
}

/* Estilos logo */

.logo-academia {
    font-size: 28px;
    font-weight: 700;
    text-decoration: none; /* quitamos subrayado del enlace del logo */
    color: var(--texto-claro)
}

/* Estilos menu derecha */

.menu-derecha {
    display: flex;
    align-items: center;
    gap: 15px; /* para que cada enlace y botón mantenga espacio entre si */
}

/* Estilos enlaces del menú */

.menu-derecha a {
    text-decoration: none;
    color: var(--texto-claro);
    font-weight: 500;
    transition: color 0.3s ease; /* Para que la transición no sea bruca cuando pasamos el hover */
}

.menu-derecha a:hover {
    color: var(--celeste);
}

/* Estilos botón contacto */ 

.menu-derecha .boton-contacto {
    background-color: var(--naranja);
    color: var(--texto-claro);
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    transition: background-color 0.3 ease;
}

.menu-derecha .boton-contacto:hover {
    background-color: #d16113; /* un tono de naranja un poco más oscuro */
    color: var(--celeste)
}

/* Estilos botón modo oscuro */ 

.boton-modo-oscuro {
    background-color: none;
    border: 2px solid var(--texto-claro);
    color: var(--celeste);
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer; /* para que el cursor cambie a una mano */ 
    font-weight: 500;
    transition: all 0.3s ease; /* transición que afecta a todo */ 
}

.boton-modo-oscuro:hover {
    background-color: var(--texto-claro);
    color: var(--violeta);
}

/* Estilos portada */

.portada-bienvenida {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), /* Efecto para oscurecer un poco la imagen porque si no se ve súper clara */
    url('../img/Alumnos_estudiando.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Para lograr el efecto de que la imagen se mueva al scrolear */
    position: relative;
    min-height: 500px; /* altura mínima porque si no no se ve bien */
    display: flex;
    align-items: center;
}

.contenido-portada {
    text-align: center;
    color: var(--texto-claro);
}

.contenido-portada h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.boton-entrar {
    display: inline-block;
    background-color: var(--naranja);
    color: var(--texto-claro);
    padding: 15px 45px;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid var(--texto-claro);
    transition: 0.3s;
    border-radius: 20px;
    margin-top: 10px;
}

.boton-entrar:hover {
    background-color: var(--violeta);
}

/* Estilos servicios de la portada */

.servicios-academia {
    padding: 60px 0;
    background-color: var(--color-fondo);
}

.rejilla-servicios {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
}

.tarjeta-servicio {
    background: white;
    border: 1px solid #ddd;
    padding: 40px 20px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
}


.tarjeta-servicio h4 {
    color: var(--violeta);
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--verde); /* Subrayado para usar el verde */
    display: inline-block;
    padding-bottom: 5px;
}

.tarjeta-servicio p {
    color: var(--texto-oscuro);
    font-weight: 500;
}

/* Estilos barra de estadísticas index */

.barra-estadisticas {
    background-color: #0f172a;
    padding: 60px 0;
    color: var(--texto-claro);
    text-align: center;
}

.caja-datos {
    display: flex;
    justify-content: space-around; /* Para espaciarlos equitativamente*/
    align-items: center;
}

.cifra {
    display: block; /* Para que el texto baje, si no iria todo en la misma linea */
    color: var(--naranja);
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}

/* Estilos contacto y mapa */

.seccion-contacto {
    padding: 80px 0;
    background-color: var(--color-fondo);
}

.contenedor-contacto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    max-width: 1100px; /* Un poco más estrecho */
    margin: 0 auto;
}

.bloque-izquierda {
    flex: 1;
    max-width: 400px; /* Si no se estiran demasiado */
}

.bloque-izquierda h3 {
    color: var(--violeta);
    font-size: 32px;
    margin-bottom: 25px;
}

.datos-lista {
    list-style: none; /* Para quitar los puntos negros de la lista */
    padding: 0;
    margin-bottom: 30px;
}

.datos-lista li {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    font-weight: 500;
}

.botones-contacto {
    display: flex;
    align-items: center;
    gap: 20px;
}

.boton-blanco {
    text-decoration: none;
    color: var(--violeta);
    font-weight: 600;
}

.boton-llamada {
    background-color: var(--naranja);
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.mapa-marco {
    flex: 1.2;
    background: white;
    padding: 12px;
    border-radius: 20px;
}

.mapa-marco iframe {
    width: 100%;
    border-radius: 15px;
    display: block;
}

/* Estilos footer */

.pie-pagina {
    background-color: #0f172a; /* Mismo color que en las estadísticas */
    color: var(--texto-claro);
    padding: 40px 0;
    text-align: center;
}

.pie-pagina p {
    font-size: 16px;
    margin: 10px 0;
    flex-shrink: 0;
}

.rayita-naranja {
    width: 50px; 
    height: 4px; 
    background-color: var(--naranja);
    margin: 15px auto; /* Centrada horizontalmente */
    border-radius: 2px;
}

.copyright {
    font-size: 14px;
}




/* Estilos servicios */

.seccion-titulo-servicios {
    padding: 60px 0;
    text-align: center;
}

.seccion-titulo-servicios h2 {
    font-size: 38px;
    color: var(--violeta);
    margin-bottom: 10px;
}

.zona-servicios {
    background-color: var(--color-fondo);
    padding: 80px 0;
}

.rejilla-servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.tarjeta-info {
    background: white;
    padding: 30px;
    width: 45%; /* 2 por fila */
    border-radius: 12px;
    border: 1px solid #ddd;
}

.tarjeta-info h3 {
    color: var(--naranja);
    margin-bottom: 15px;
}

/* Estilos preguntas frecuentes */
.seccion-preguntas {
    padding: 80px 0;
}

.contenedor-pequeño {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 15px;
}

.titulo-preguntas {
    text-align: center;
    color: var(--violeta);
    font-size: 32px;
    margin-bottom: 40px;
}

.bloque-pregunta {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.bloque-pregunta h4 {
    color: var(--violeta);
    margin-bottom: 10px;
}

/* Estilos del login */

.pagina-login {
    background-color: var(--color-fondo);
    min-height: 80vh; /* para q el footer quede abajo */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.caja-entrada {
    background: white;
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 450px; 
    text-align: center;
}

.cabecera-login h2 {
    color: var(--violeta);
    margin-bottom: 10px;
}

.formulario-acceso {
    margin-top: 30px;
    text-align: left; 
}

.campo-grupo {
    margin-bottom: 20px;
}

.campo-grupo label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--violeta);
}

.entrada-estilo {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: inherit;
}

.boton-entrar-login {
    background-color: var(--naranja);
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.boton-entrar-login:hover {
    background-color: var(--violeta);
}

.ayuda-login {
    margin-top: 25px;
    font-size: 14px;
}

.ayuda-login a {
    color: var(--naranja);
    text-decoration: none;
    font-weight: bold;
}



/* area de estudiante */

.contenedor-panel {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.bienvenida-usuario {
    margin-bottom: 40px;
}

.bienvenida-usuario h2 {
    color: var(--violeta);
    font-size: 32px;
}

.rejilla-opciones {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.caja-opcion {
    text-decoration: none;
    color: black;
    width: 48%;
    background: white;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid white;
}

.ancho-total {
    width: 100%;
}

.contenido-caja h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.color-asignaturas h3 {
    color: var(--celeste);
}

.color-notas h3 {
    color: var(--verde);
}

.color-asistencia h3 {
    color: var(--naranja);
}

.color-facturas h3 {
    color: var(--violeta);
}

.color-foro h3 {
    color: black;
}

/* area de profesores (casi todo reciclado del area de estudiantes) */

.color-tests h3 {
    color: rgb(147, 156, 16)
}


/* area gestión de alumnos (mayoría de clases recicladas) */

.color-admin-alumnos h3 {
    color: var(--celeste);
    margin-bottom: 10px;
}



/* Estilos alta usuarios, uso el .pagina-alta para reutilizar clases pero sin modificar las anteriores */

.pagina-alta .rejilla-opciones {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: stretch; 
}

.pagina-alta .caja-herramienta {
    background: white;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column; 
    width: 48%; 
}

.pagina-alta .caja-herramienta h3 {
    margin-bottom: 30px;
    font-size: 22px;
    color: #333;
    border-bottom: 2px solid var(--naranja);
    display: inline-block;
    padding-bottom: 5px;
}


.pagina-alta .formulario-admin {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}


.pagina-alta .fila-input {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pagina-alta .fila-input label {
    font-weight: bold;
    color: #555;
    font-size: 15px;
}

.pagina-alta .input-diseño {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px 15px;
    font-size: 16px;
}

.pagina-alta .input-diseño:focus {
    border-color: var(--violeta);
    box-shadow: 0 0 8px rgba(106, 90, 205, 0.2);
    outline: none;
    background-color: #fff;
}


.pagina-alta .boton-accion-lila {
    margin-top: auto;   
    align-self: center; 
    padding: 15px 35px;
    background-color: var(--violeta);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.pagina-alta .boton-accion-lila:hover {
    background-color: #5a4db8;
    transform: translateY(-2px);
}

/* Estilos lista de alumnos / perfil profesores */

.pagina-listado .tabla-scroll {
    margin-top: 20px;
}

.pagina-listado .tabla-gestion {
    width: 100%;
    text-align: left;
}

.pagina-listado .tabla-gestion th {
    background-color: #f4f7f6;
    color: #555;
    padding: 15px;
    font-weight: bold;
    border-bottom: 2px solid #eee;
}

.pagina-listado .tabla-gestion td {
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
    color: #333;
}


.pagina-listado .enlace-baja {
    color: #eb093a; 
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.pagina-listado .enlace-baja:hover {
    background-color: #fae9ea;
    text-decoration: underline;
}

.pagina-listado .tag-estado {
    background-color: #d4fce1;
    color: #18743b;
    padding: 4px 10px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: bold;
}


/* Estilos página de asistencias  */

.pagina-asistencia .caja-herramienta {
    background: white;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

.pagina-asistencia .caja-herramienta h3 {
    margin-bottom: 30px;
    font-size: 22px;
    color: #333;
    border-bottom: 2px solid var(--naranja);
    display: inline-block;
    padding-bottom: 5px;
}

.pagina-asistencia .formulario-admin {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pagina-asistencia .fila-input {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.pagina-asistencia .fila-input label {
    font-weight: bold;
}

.pagina-asistencia .input-diseño {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px 15px;
    font-size: 16px;
}

.pagina-asistencia .input-diseño:focus {
    border-color: var(--violeta);
    outline: none;
}

.pagina-asistencia .tabla-gestion {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.pagina-asistencia .tabla-gestion th {
    text-align: left;
    padding: 15px;
    border-bottom: 2px solid #eee;
}

.pagina-asistencia .tabla-gestion td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.pagina-asistencia .boton-accion-lila {
    margin-top: auto;   
    align-self: center; 
    padding: 15px 40px;
    background: var(--violeta);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagina-asistencia .boton-accion-lila:hover {
    transform: translateY(-2px);
}

